<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BottomClip.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,859},{1024,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,243}}</string>
                <key>sourceSize</key>
                <string>{1024,243}</string>
            </dict>
            <key>Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1885},{246,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{246,109}}</string>
                <key>sourceSize</key>
                <string>{250,111}</string>
            </dict>
            <key>ColorBarBlur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,486}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>ColorNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{466,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,394}}</string>
                <key>sourceSize</key>
                <string>{466,394}</string>
            </dict>
            <key>Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>MainSceneCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,398},{459,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,459}}</string>
                <key>sourceSize</key>
                <string>{459,459}</string>
            </dict>
            <key>TopClip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{1024,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,243}}</string>
                <key>sourceSize</key>
                <string>{1024,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainSceneSprites-ipad.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29f1fdea666b25aa90cac7efa64f8230:1/1$</string>
            <key>textureFileName</key>
            <string>MainSceneSprites-ipad.png</string>
        </dict>
    </dict>
</plist>
