<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BottomClip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,490},{2048,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,486}}</string>
                <key>sourceSize</key>
                <string>{2048,486}</string>
            </dict>
            <key>Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{3760,2},{490,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{490,217}}</string>
                <key>sourceSize</key>
                <string>{500,221}</string>
            </dict>
            <key>ColorBarBlur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{971,971}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{971,971}}</string>
                <key>sourceSize</key>
                <string>{971,971}</string>
            </dict>
            <key>ColorNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{931,787}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{931,787}}</string>
                <key>sourceSize</key>
                <string>{931,787}</string>
            </dict>
            <key>Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>MainSceneCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,975},{917,917}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,917}}</string>
                <key>sourceSize</key>
                <string>{917,917}</string>
            </dict>
            <key>TopClip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{2048,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,486}}</string>
                <key>sourceSize</key>
                <string>{2048,486}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainSceneSprites-ipadhd.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1df48c2d86e7a08dc6225cba03121516:1/1$</string>
            <key>textureFileName</key>
            <string>MainSceneSprites-ipadhd.png</string>
        </dict>
    </dict>
</plist>
