<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,313}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{319,313}}</string>
                <key>sourceSize</key>
                <string>{321,315}</string>
            </dict>
            <key>Amini.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,307},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{307,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,301}}</string>
                <key>sourceSize</key>
                <string>{307,301}</string>
            </dict>
            <key>Bmini.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,307},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{319,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,303}}</string>
                <key>sourceSize</key>
                <string>{319,303}</string>
            </dict>
            <key>Cmini.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,307},{77,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,305},{272,304}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,304}}</string>
                <key>sourceSize</key>
                <string>{272,306}</string>
            </dict>
            <key>Smini.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ResultSceneSprites-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:312ed444242a6474785510669bed394c:1/1$</string>
            <key>textureFileName</key>
            <string>ResultSceneSprites-ipadhd.png</string>
        </dict>
    </dict>
</plist>
