<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1323},{1024,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,97}}</string>
                <key>sourceSize</key>
                <string>{1024,97}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3807,1027},{1024,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,98}}</string>
                <key>sourceSize</key>
                <string>{1024,98}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1518},{1024,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,94}}</string>
                <key>sourceSize</key>
                <string>{1024,94}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3609,2},{1024,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,100}}</string>
                <key>sourceSize</key>
                <string>{1024,100}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1421},{1024,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,96}}</string>
                <key>sourceSize</key>
                <string>{1024,96}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1225},{1024,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,97}}</string>
                <key>sourceSize</key>
                <string>{1024,97}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1613},{1024,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,93}}</string>
                <key>sourceSize</key>
                <string>{1024,93}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{4009,2},{1024,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,80}}</string>
                <key>sourceSize</key>
                <string>{1024,80}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1225},{1024,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,97}}</string>
                <key>sourceSize</key>
                <string>{1024,97}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3810,2},{1024,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,99}}</string>
                <key>sourceSize</key>
                <string>{1024,99}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3708,1027},{1024,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,98}}</string>
                <key>sourceSize</key>
                <string>{1024,98}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2052},{1024,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,97}}</string>
                <key>sourceSize</key>
                <string>{1024,97}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3609,1027},{1024,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,98}}</string>
                <key>sourceSize</key>
                <string>{1024,98}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3906,1027},{1024,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,97}}</string>
                <key>sourceSize</key>
                <string>{1024,97}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3910,2},{1024,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,98}}</string>
                <key>sourceSize</key>
                <string>{1024,98}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3710,2},{1024,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,99}}</string>
                <key>sourceSize</key>
                <string>{1024,99}</string>
            </dict>
            <key>BlueBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2069,869}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2069,869}}</string>
                <key>sourceSize</key>
                <string>{2069,869}</string>
            </dict>
            <key>ColorBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2072,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>ColorBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{2048,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,352}}</string>
                <key>sourceSize</key>
                <string>{2048,352}</string>
            </dict>
            <key>ColorNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{931,787}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{931,787}}</string>
                <key>sourceSize</key>
                <string>{931,787}</string>
            </dict>
            <key>IntroSceneNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3077},{894,752}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{894,752}}</string>
                <key>sourceSize</key>
                <string>{896,762}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IntroSceneSprites-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b3aa2c2c71cb55b50a7d940d4e4f60:1/1$</string>
            <key>textureFileName</key>
            <string>IntroSceneSprites-ipadhd.png</string>
        </dict>
    </dict>
</plist>
