<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,4},{319,313}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{319,313}}</string>
                <key>sourceSize</key>
                <string>{321,315}</string>
            </dict>
            <key>Amini.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,911},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2277,572},{307,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,301}}</string>
                <key>sourceSize</key>
                <string>{307,301}</string>
            </dict>
            <key>BackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,852},{557,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,161}}</string>
                <key>sourceSize</key>
                <string>{559,161}</string>
            </dict>
            <key>Bmini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,487},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,572},{319,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,303}}</string>
                <key>sourceSize</key>
                <string>{319,303}</string>
            </dict>
            <key>CellCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,911},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>CheckButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{903,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,300}}</string>
                <key>sourceSize</key>
                <string>{903,300}</string>
            </dict>
            <key>CheckMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,4},{282,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,225}}</string>
                <key>sourceSize</key>
                <string>{282,225}</string>
            </dict>
            <key>Cmini.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,911},{77,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>ControlPanelShadeCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,119},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>Delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,435},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>DifOption.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,897},{210,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,10}}</string>
                <key>sourceSize</key>
                <string>{210,10}</string>
            </dict>
            <key>DifOptionCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,911},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>Download.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,321},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Go.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,572},{250,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,125}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>LibraryList.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,4},{684,844}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,844}}</string>
                <key>sourceSize</key>
                <string>{684,844}</string>
            </dict>
            <key>ListControlPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,4},{889,273}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{889,273}}</string>
                <key>sourceSize</key>
                <string>{903,273}</string>
            </dict>
            <key>Match.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,234},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>MusicOption.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,852},{702,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,150}}</string>
                <key>sourceSize</key>
                <string>{702,150}</string>
            </dict>
            <key>Pin.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,897},{114,177}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{114,177}}</string>
                <key>sourceSize</key>
                <string>{160,195}</string>
            </dict>
            <key>RecordWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,4},{2048,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,564}}</string>
                <key>sourceSize</key>
                <string>{2048,564}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,572},{272,304}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,304}}</string>
                <key>sourceSize</key>
                <string>{272,306}</string>
            </dict>
            <key>SelectionSceneShadeCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,4},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>Smini.png</key>
            <dict>
                <key>frame</key>
                <string>{{4022,4},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,348},{135,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,128}}</string>
                <key>sourceSize</key>
                <string>{135,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MusicSelectionSprites-ipadhd.png</string>
            <key>size</key>
            <string>{4096,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:249e11e39c088836dd192482ffc38c12:1/1$</string>
            <key>textureFileName</key>
            <string>MusicSelectionSprites-ipadhd.png</string>
        </dict>
    </dict>
</plist>
