<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ApproachCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,203},{804,803}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,803}}</string>
                <key>sourceSize</key>
                <string>{816,803}</string>
            </dict>
            <key>Cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,254},{230,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,231}}</string>
                <key>sourceSize</key>
                <string>{230,231}</string>
            </dict>
            <key>Game Over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{1104,150}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1104,150}}</string>
                <key>sourceSize</key>
                <string>{1112,150}</string>
            </dict>
            <key>Halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,678},{490,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{490,501}}</string>
                <key>sourceSize</key>
                <string>{492,503}</string>
            </dict>
            <key>LimitCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,705},{462,460}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{462,460}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Nimbus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,51},{626,625}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{626,625}}</string>
                <key>sourceSize</key>
                <string>{626,627}</string>
            </dict>
            <key>One.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,51},{56,149}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{56,149}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>ScoreBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{1792,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1792,71}}</string>
                <key>sourceSize</key>
                <string>{1792,71}</string>
            </dict>
            <key>ScoreBarClip.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,254},{1774,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1774,42}}</string>
                <key>sourceSize</key>
                <string>{1774,42}</string>
            </dict>
            <key>ScoreBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1797,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1797,47}}</string>
                <key>sourceSize</key>
                <string>{1797,47}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,2},{250,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,236}}</string>
                <key>sourceSize</key>
                <string>{250,236}</string>
            </dict>
            <key>Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,203},{612,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,150}}</string>
                <key>sourceSize</key>
                <string>{612,150}</string>
            </dict>
            <key>Three.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,913},{91,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,150}}</string>
                <key>sourceSize</key>
                <string>{91,150}</string>
            </dict>
            <key>TouchNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1006},{96,118}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{96,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Two.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,817},{94,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,150}}</string>
                <key>sourceSize</key>
                <string>{94,150}</string>
            </dict>
            <key>amber.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1170},{213,215}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{213,215}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>blue grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1386},{217,219}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{217,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1607},{215,217}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{215,217}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1386},{215,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{215,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1607},{215,219}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{215,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>deep orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1167},{217,219}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{217,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>deep purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1386},{215,219}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{215,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>default.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1170},{213,219}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{213,219}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1828},{217,217}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{217,217}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1386},{215,215}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>indigo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1167},{217,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{217,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>light blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1603},{215,215}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>light green.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1828},{217,217}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{217,217}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>lime.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1607},{215,219}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{215,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1828},{215,217}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{215,217}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1607},{215,219}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{215,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,486},{217,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{217,219}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1826},{215,215}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{215,215}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>teal.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1170},{215,213}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{215,213}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1386},{215,215}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSceneSprites-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce0582263701c498798bc31da6c616a0:1/1$</string>
            <key>textureFileName</key>
            <string>GameSceneSprites-ipadhd.png</string>
        </dict>
    </dict>
</plist>
