<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ApproachCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,129},{402,402}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,402}}</string>
                <key>sourceSize</key>
                <string>{408,402}</string>
            </dict>
            <key>Cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,389},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>Game Over.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,66},{550,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,75}}</string>
                <key>sourceSize</key>
                <string>{556,75}</string>
            </dict>
            <key>Halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,143},{244,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{244,250}}</string>
                <key>sourceSize</key>
                <string>{246,252}</string>
            </dict>
            <key>LimitCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,389},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{230,230}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Nimbus.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,533},{313,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,314}}</string>
                <key>sourceSize</key>
                <string>{313,314}</string>
            </dict>
            <key>One.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,66},{28,75}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{28,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>ScoreBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{896,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,36}}</string>
                <key>sourceSize</key>
                <string>{896,36}</string>
            </dict>
            <key>ScoreBarClip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{887,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{887,21}}</string>
                <key>sourceSize</key>
                <string>{887,21}</string>
            </dict>
            <key>ScoreBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{899,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{899,24}}</string>
                <key>sourceSize</key>
                <string>{899,24}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{125,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,118}}</string>
                <key>sourceSize</key>
                <string>{125,118}</string>
            </dict>
            <key>Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,143},{306,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,75}}</string>
                <key>sourceSize</key>
                <string>{306,75}</string>
            </dict>
            <key>Three.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,66},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>TouchNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{48,58}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{48,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Two.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,66},{47,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,75}}</string>
                <key>sourceSize</key>
                <string>{47,75}</string>
            </dict>
            <key>amber.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,533},{108,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>blue grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,733},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,621},{108,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,845},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,733},{108,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>deep orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,621},{108,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>deep purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,849},{108,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>default.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,845},{107,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,849},{108,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,533},{108,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>indigo.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,849},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>light blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,643},{108,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>light green.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,533},{108,108}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>lime.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,220},{108,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,220},{108,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,389},{108,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,389},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{108,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,841},{108,108}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>teal.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,731},{108,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,621},{108,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSceneSprites-ipad.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52c74885bd2ba5dc0b2a4cf2fdbf9277:1/1$</string>
            <key>textureFileName</key>
            <string>GameSceneSprites-ipad.png</string>
        </dict>
    </dict>
</plist>
